[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .gpg_keyid }}
[commit]
	verbose = true
	gpgsign = true
[alias]
	whoami = !git config --get user.name && git config --get user.email
[color]
    ui = auto
    diff = auto
    status = auto
    log = auto
    grep = auto
    interactive = auto
    pager = true
[core]
    excludesfile = ~/.config/git/ignore
    pager = less
[init]
    defaultBranch = "main"
[log]
    decorate = full
[pull]
    ff = only
    rebase = true
[rebase]
    autosquash = true
    autostash = true
[github]
    user = {{ .github_user }}
[url "git@github.com:{{ .github_user }}/"]
	insteadOf = https://github.com/{{ .github_user }}/
