{{- $secrets := true -}}

{{- if (env "SECRETS_OFF") -}}
    {{- $secrets = false -}}
{{- end -}}

{{- $name := "Lukas Kucera" -}}
{{- $email := "85391931+kucera-lukas@users.noreply.github.com" -}}
{{- $gpg_keyid := "E3C1058BA1040AFC114A7B74B9072E7673C67AA1" -}}
{{- $github_user := "kucera-lukas" -}}

{{- if (env "ASK") }}
{{- $secrets = promptBool "secrets" -}}

{{- $name := promptString "full name" -}}
{{- $email := promptString "personal email" -}}
{{- $gpg_keyid := promptString "PGP key id" -}}
{{- $github_user := promptString "github username" -}}

{{- end -}}

progress: true
verbose: true
sourceDir: {{ .chezmoi.sourceDir }}

cd:
  command: fish

edit:
  apply: true
  command: nano

textconv:
  - pattern: '**/*.json'
    command: jq
    args:
      - '.'
  - pattern: '**/*.hex'
    command: hexdump
    args:
      - -v
      - -C
  - pattern: '**/*.zip'
    command: unzip
    args:
      - -v
  - pattern: '**/*.bin'
    command: hexdump
    args:
      - -v
      - -C

data:
  secrets: {{ $secrets }}

  name: {{ $name | quote }}
  email: {{ $email | quote }}
  gpg_keyid: {{ $gpg_keyid | quote }}
  github_user: {{ $github_user | quote }}

{{- if $secrets }}
  bitwarden:
    ssh: 9dccedf6-0076-4e1b-93c5-ae5701120fa6
    crates_io: 89f1994a-96c4-4d1c-b29a-adc3010511d7
{{- end -}}
