{{- $name := "Lukas Kucera" -}}
{{- $email := "kucera-lukas@users.noreply.github.com" -}}
{{- $gpg_keyid := "E3C1058BA1040AFC114A7B74B9072E7673C67AA1" -}}
{{- $github_user := "kucera-lukas" -}}

data:
  name: {{ $name }}
  email: {{ $email }}
  gpg_keyid: {{ $gpg_keyid }}
  github_user: {{ $github_user }}

  bitwarden:
    ssh_pub: 9dccedf6-0076-4e1b-93c5-ae5701120fa6
    ssh_private: dd510179-aa2e-41a6-986f-ae570112a104
